body {
    margin: 0px;
}
.barra {
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 1347 px;
    height: 50px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.menu {
    display:flex ;
    width: 700px;
    font-size: 20px;
    align-items: center;
}

.lista {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 20px;
    justify-content: space-between;
}

.genero{
    border: 0;
    background-color: black;
    color: white;
    font-size: 18px;
}

.bnt{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clique{
    padding: 10pz;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(247, 4, 4);
}

#cd{
    text-decoration: none;
    color: black;
}

.corpo{
    display: flex;
    align-items: flex-start;
}


.cartaz{
    height: 575px;
    width: 1369px;
    background-image: url(img/Kerfin7_NEA_2391.jpg);
    background-size: cover;

}

.cartaz .escrita{
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: end;
    margin-left: 445px;
    margin-top: 100px;
}

p{
    font-family:cursive;
    font-size: 70px;
    color: rgb(172, 119, 233);
    font-weight: bold;

}

.musica{
height: 570px;
width: 1345px;
background-image: url(img/black-and-silver-microphone-on-black-background.jpg);
background-size: cover;
border: 2px solid gray;
display: flex;
font-family: cursive;
flex-direction: column;
align-items: flex-end;
}

.sobre{
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: black;
    color:white;
}

.forma{
    height: 450px;
    font-size: 20px;
    width: 1000px;
    color: white;
   
}

.beneficio{
    height: 570px;
    width: 1345px;
    background-image: url(img/image-from-rawpixel-id-431913-jpeg.jpg);
    background-size: cover;
    border: 2px solid gray;
    font-family: cursive;
}

.tema {
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.assunto{
    font-size: 19px;
    width: 850px;
    height: 460px;
}

.curiosidade{
    height: 780px;
    width: 1345px;
    background-image: url(img/closeup-of-a-dj-working-under-the-blue-light.jpg);
    background-size: cover;
    border: 2px solid gray;
    font-family: cursive;
    color: white;
}

.conhecimento{
    display: flex;
    justify-content: center;    
}

.abordagem{
    font-size: 18px;
    margin-left: 25px;
    height: 130px;
    
}

.estudo{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}
/* Footer*/
.footer{
    border: 2px solid black;
    background-color: #1f1a20;
    color: black;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.redes{
    width: 200px;
    display: flex;
    align-items: center;
}

h3{
    display: flex;
    align-items: center;
    margin: auto;
}

/*Login*/

.login {
    border: 0;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    background-color:#9c909d;
    margin-left: 520px;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;    

}

#mensagem{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center
}

.temaLg{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto;
}

.login input{
    border: 0;
    border-bottom: 3px solid black;
    border-radius: 5px;
    color: black;
    height: 25px;
    width: 350px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 32px;
}

.btl{
    width: 86px;
    font-size: inherit;
    border-radius: 4px;
    background-color: #6c6681;
    margin: auto;
    cursor: pointer;
}

/*Cadastro*/
.cadas{
    border: 0;
    border-radius: 5px;
    height: 450px;
    width: 400px;
    background-color:#9c909d;
    margin-left: 520px;
    margin-top: 65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.cadas input{
    border: 0;
    border-bottom: 3px solid black;
    border-radius: 5px;
    color: black;
    height: 25px;
    width: 350px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 32px;
}

.btc{
    width: 112px;
    font-size: inherit;
    border-radius: 4px;
    background-color: #6c6681;
    margin: auto;
    cursor: pointer;
}

#bt{
    text-decoration: none;
    color: black;
}

/*Sertanejo*/
.sertanejo{
    height: 1591px;
    width: 1369px;
    background-image: url(img/acoustic-guitar-close-up-on-a-beautiful-colored-background.jpg);
    background-size: cover;
    color: navajowhite;
    font-family: cursive;
}

.sertanejo h4{
    margin-top: auto;
    height: 5px;
}

.descrição{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nejo{
    margin-top: 5px;
    margin-bottom: -23px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.historia{
    height: 934px;
    font-size: 20px;
    width: 1319px;
    margin-left: 20px;
}

#td{
    color: navajowhite;
}


/*Rock*/
.rock{
    height:  1705px;

    width: 1369px;
    background-image: url(img/RockN\'Roll\ &\ Art\ \(1\).jpg);
    background-size: cover;
    font-weight: 600;
    color: lightyellow;
    font-family: cursive;
    font-size: 20px;
}

.rock h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.roll{
    display: flex;
    justify-content: space-around;
    width: 888px;
    margin-left: 457px;
    height: 125px;
}

.entreterimento{
    width: 1298px;
    margin-left: 20px;
}

.gif{
    width: 110px;
    height: 122px;
}

.cenario{
    
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -22px;
}

.separação{
    border: 1px solid gray;
}

/*Reggaeton*/
.reggeaton{
    height:  1337px;
    width: 1369px;
    background-image: url(img/Quarto\ da\ parede\ de\ tijolo\ da\ luz\ de\ néon\ _\ Vetor\ Premium.jfif);
    background-size: cover;
    font-family: cursive;
    color: black;
    display: flex;
    flex-direction: column;
}

.america{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.america h1{
    display: flex;
    justify-content: center;
}

.latina{
    height: 500px;
    font-size: 22px;
    width: 1274px;
    margin-left: 34px;
}

/*Formulario*/
.formulario{
    height: 1000px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.infor{
    border: 1px solid;
    width: 629px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 131px;
    background-color: white;
    border-radius: 10px;
}

.infor h3{
    margin-top: -8px;
    margin-left: 9px;
}

.infor h4{
    font-size: 20px;
}

.infor input{
    border: 0;
    border-bottom: 1px solid;
}

#botao{
    padding: revert;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 36px;
    color: white;
    background-color: slategrey;
    cursor: pointer;
}

.espaço{
    height: 10px;
    background-color: gray;
}

.receber{
    width: 255px;
    height: 46px;
    font-size: 27px;
}

/*Gosto Musical*/

.gosto{
    height:  615px;
    width: 1349px;
    background-image: url(img/padrao-de-notas-musicais-em-fundo-preto_1017-32303.jpg);
    background-size: cover;
    font-family: cursive;
    color: white;
    border: 0;
    border-top: 1px solid red;
}

.gosto h1{
    display: flex;
    justify-content: center;
}

.pesquisa{
    width: 1100px;
    margin: auto;
    font-size: 18px;
}

.teste{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 204px;
    margin-top: 23px;
    font-size: 20px;
}

.teste button{
    font-weight: bold;
    width: 93px;
    /* height: 151px; */
    font-size: 15px;
}

.teste select{
    width:130px ;
}

#music{
    list-style: none;
    color: white;
    text-decoration: none;
}

/*tabela*/

.geral{
    
    width: 342px;
    height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class{
    
    height: 418px;
    display: flex;
    justify-content: space-evenly;
}

.tabela{
border: 3px solid;
height: 50px;
}


.forma1{
    height: 28px;
    font-size: 20px;
    width: 203px;
    color: black;
    display: flex;
}

.ranki h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.geral input{
    border: 2px solid;
}

.geral button{
    font-weight: bold;
    width: 104px;
}


/*Configurações*/
.chegada{

    height: 62px;
    font-size: 22px;
    font-weight: bold;
    width: 1041px;
}

.recepção{
    
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.acesso{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acesso button{
    font-size: 15px;
    width: 116px;
}

#ser{
    display: flex;
    align-items: center;
    height: 65px;
}

.estilo{
    height: 570px;
width: 1345px;
background-image: url(img/guitar-g677805776_1920.jpg);
background-size: cover;
border: 2px solid gray;
font-size: 20px;
display: flex;
    flex-direction: column;
    align-items: center;
    
}